In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(
                        {
                        'id' : [1, 2, 3, 4, 5],
                        
                        'steps' : [10235, 12356, 9632, 10489, 532]
                        }
                      )

df

   id        day  steps
0   1     Monday  10235
1   2    Tuesday  12356
2   3  Wednesday   9632
3   4   Thursday  10489
4   5     Friday    532

In [12]:
# Extract row and column information
rowIDs = df['id']
colIDs = df['day']

# Setup image array and set values into it from "grumpiness" column
A = np.zeros((rowIDs.max()+1,colIDs.max()+1))
A[rowIDs,colIDs] = df['steps']

TypeError: can only concatenate str (not "int") to str